<style>
    table, th, td
    {
        border:1px solid black;
        
    }
    tr:nth-child(even)
    {
        background-color: #f2f2f2;
    }
</style>

<h2>Students studying <%= module %></h2>

<table>
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>GPA</th>
    </tr>
    <!-- All appropriate variables passed for the students enrolled -->
    <% details.forEach((studInfo)=>
        { %>
        <tr>
            <td>
                <%= studInfo.sid %>
            </td>
            <td>
                <%= studInfo.name %>
            </td>
            <td>
                <%= studInfo.gpa %>
            </td>
        </tr>
        <% }) %>
</table>
<a href="/">Home</a>